


.center  {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 25rem;
    height: 20rem;
    background-color:silver;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    text-align: center;
}
form  label {
    display: block;
    font-size: 1.2rem;
}

form button  {
    margin-top:1.2rem;
    width:6rem;
    height:2rem;
    border-radius: 10%;
}

#result {
    margin-top: 1.5rem;
    font-weight: bold;
}

    

